.commonButton {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px #00000029;
  height: 50px;
  padding: 0 30px; /* Provides spacing for dynamic width */
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.defaultSize {
  width: 345px;
}

.autoSize {
  width: auto;
}

.primaryButton {
  background-color: var(--blue);
  color: var(--white);
}

.primaryButton:hover {
  background-color: var(--light-blue);
}

.primaryButton:active {
  background-color: #5a5e7e; /* Even lighter blue on click */
  transform: scale(0.98);
}

.secondaryButton {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--light-gray);
}

.secondaryButton:hover {
  background-color: var(--lighter-gray);
}

.secondaryButton:active {
  background-color: var(--light-gray);
  transform: scale(0.98);
}
