.banner {
  padding: 0 50px 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h1 {
  width: 550px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 50px;
  color: var(--red);
}
