h1 {
  padding-bottom: 100px;
}

.search {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchBar {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  height: 20px;
}
.musiciansList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 20px;
}

.sectionTitle {
  display: flex;
  justify-content: space-between;
}

.searchButton {
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 35px;
  background-color: var(--lighter-gray);
}
